# ======================================================
# PYTHON
# ======================================================

__pycache__/
*.pyc
*.pyo
*.pyd

# ======================================================
# VIRTUAL ENVIRONMENTS
# ======================================================

venv/
env/

# ======================================================
# STREAMLIT
# ======================================================

.streamlit/

# ======================================================
# MODEL ARTIFACTS
# ======================================================

models/
outputs/

# ======================================================
# DVC CACHE
# ======================================================

.dvc/cache/

# ======================================================
# SYSTEM FILES
# ======================================================

.DS_Store
Thumbs.db
